.right-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content{
  padding-left: 2rem;
  padding-right: 2rem;
}

.content-container{
  margin-bottom: 1.5rem;
}

.job{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.title{
  font-size: 1.3rem;
  font-weight: 500;
}

.date{
  color: gray;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 900px){
  .right-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

  .job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}